/* PAGE TITLE */
html{
  height: 100%;
}

body{
  height: 100%;
}

.pagetitle {
    height: 60%;
}
.pagetitle-cover {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("/static/principles_app/img/ancap.svg");
}

/* MENU LIST */
.menu-option{
  font-weight: bold;
  color: #000;
  transition: all .3s;
  border-top: 2px solid #fff;
}

.menu-option:hover{
  border-top: 2px solid #ff5e3a;
  color: #ff5e3a;
  text-decoration: none;
}

/* ABOUT  */
.about p{
  line-height: 1.7;
  color: #000;
}
.about h2{
  color: blue;
}



/* PRINCIPLES LIST */
.principleslist {
  margin-top: 100px;
  color: #000;
}
.principleslist h2{
  color: #ff5e3a;
}
.principleslist ul{
  text-align: justify;
}

/* PROGRAM */
.program{
  margin-top: 100px;
}
.program h2{
  color: blue;
}

.program p{
  color: #000;
}


/* PLATFORM AND QUESTIONS BOXES */
#platformandquestions{
  margin-top: 80px;
}

.platformquestions{
  height: 300px;
  border: 20px solid #7373FF;
  color: #000;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.platformquestions:hover,
.platformquestions:focus{
  text-decoration: none;
  color: #ff5e3a;
  border: 20px solid blue;
}

@media (max-width: 575px) {
  .menu-option{
    border: none;
  }
  .menu-option:hover{
    border: none;
  }
  .platformquestions{
    height: 250px;
  }
}
