.narrower {
    width: 60rem;
    margin: 0 auto;
    @include media-breakpoint-down(md) {
        width: 50rem;
    }
    @include media-breakpoint-down(sm) {
        width: inherit;
        margin: inherit;
    }
}
.narrower-title{
    color: $secondary-color;
    margin-bottom: 2rem;
    font-size: 3rem;
    @include media-breakpoint-down(lg) {
        font-size: 2.8rem;
    }
    @include media-breakpoint-down(md) {
        margin-bottom: 1.7rem;
        font-size: 2.6rem;
    }
    @include media-breakpoint-down(sm) {
        margin-bottom: 1.4rem;
        font-size: 2.4rem;
    }
    @include media-breakpoint-down(xs) {
        font-size: 2.2rem;
    }
}
.narrower-content{
    font-size: 1.7rem;
    line-height: 1.7;
}
