@import "static/scss/base.scss";

/********** PAGETITLE **********/
$pagetitle-content: "Декларация о принципах";
$pagetitle-height: 40%;
$pagetitle-color: #fff;
$pagetitle-background-color: $primary-color;
$pagetitle-background-image: "/static/principles_app/img/pero.webp";
@import "static/scss/pagetitle";

/********** DECLARATION **********/
.declaration-list {
    font-size: 1.8rem;
    list-style: none;
    li {
        margin: 2rem 0;
        &::before {
            content: "●";
            color: $primary-color;
            font-weight: bold;
            display: inline-block;
            width: 3rem;
            margin-left: -3rem;
        }
    }
}

/********** BOTTOMNAV **********/
@import "static/scss/bottomnav";
