<div class="bottom-navigation">
    <a href="#" class="bottom-navigation-link">
        <p class="bottom-navigation-prev">Предыдущее</p>
        <div class="bottom-navigation-link-wrap">
            <i class="fas fa-arrow-left"></i>
            <p>TEST</p>
        </div>
    </a>
    <a href="#" class="bottom-navigation-link">
        <p class="bottom-navigation-next">Следующее</p>
        <div class="bottom-navigation-link-wrap">
            <p>TEST</p>
            <i class="fas fa-arrow-right"></i>
        </div>
    </a>
</div>
