<div class="container program-lg">
    <div class="program shadow-lg">
        <a href="{% url 'principles_app:constitutional' %}" id="constitutional" class="program-box">
            <div class="program-box-wrapper">
                <i class="program-box-icon  fa-2x fas fa-university"></i>
                <p>Констутиционно-правовые реформы</p>
            </div>
        </a>
        <a href="{% url 'principles_app:justice' %}" id="justice" class="program-box">
            <div class="program-box-wrapper">
                <i class="program-box-icon fa-2x fas fa-balance-scale"></i>
                <p>Судебно-правоохранительная реформа</p>
            </div>
        </a> <a href="{% url 'principles_app:social' %}" id="social" class="program-box">
            <div class="program-box-wrapper">
                <i class="program-box-icon fa-2x fas fa-users"></i>
                <p>Социальные рефомы</p>
            </div>
        </a> <a href="{% url 'principles_app:economic' %}" id="economic" class="program-box">
            <div class="program-box-wrapper">
                <i class="program-box-icon fa-2x fas fa-ruble-sign"></i>
                <p>Экономические реформы</p>
            </div>
        </a> <a href="{% url 'principles_app:military' %}" id="military" class="program-box">
            <div class="program-box-wrapper">
                <i class="program-box-icon fa-2x fas fa-shield-alt"></i>
                <p>Военно-промышленная реформа</p>
            </div>
        </a> <a href="{% url 'principles_app:fp' %}" id="fp" class="program-box">
            <div class="program-box-wrapper">
                <i class="program-box-icon fa-2x fas fa-globe"></i>
                <p>Внешнеполитическая реформа</p>
            </div>
        </a>
    </div>
</div>

<div class="program-sm">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a href="{% url 'principles_app:constitutional' %}" id="constitutional" class="program-box program-box-sm">
                    <div class="program-box-wrapper">
                        <i class="program-box-icon fa-2x fas fa-university"></i>
                        <p>Констутиционно-правовые реформы</p>
                    </div>
                </a>
            </div>
            <div class="carousel-item">
                <a href="{% url 'principles_app:justice' %}" id="justice" class="program-box program-box-sm">
                    <div class="program-box-wrapper">
                        <i class="program-box-icon fa-2x fas fa-balance-scale"></i>
                        <p>Судебно-правоохранительная реформа</p>
                    </div>
                </a>
            </div>
            <div class="carousel-item">
                <a href="{% url 'principles_app:social' %}" id="social" class="program-box program-box-sm">
                    <div class="program-box-wrapper">
                        <i class="program-box-icon fa-2x fas fa-users"></i>
                        <p>Социальные рефомы</p>
                    </div>
                </a>
            </div>
            <div class="carousel-item">
                <a href="{% url 'principles_app:economic' %}" id="economic" class="program-box program-box-sm">
                    <div class="program-box-wrapper">
                        <i class="program-box-icon fa-2x fas fa-ruble-sign"></i>
                        <p>Экономические реформы</p>
                    </div>
                </a>
            </div>
            <div class="carousel-item">
                <a href="{% url 'principles_app:military' %}" id="military" class="program-box program-box-sm">
                    <div class="program-box-wrapper">
                        <i class="program-box-icon fa-2x fas fa-shield-alt"></i>
                        <p>Военно-промышленная реформа</p>
                    </div>
                </a>
            </div>
            <div class="carousel-item">
                <a href="{% url 'principles_app:fp' %}" id="fp" class="program-box program-box-sm">
                    <div class="program-box-wrapper">
                        <i class="program-box-icon fa-2x fas fa-globe"></i>
                        <p>Внешнеполитическая реформа</p>
                    </div>
                </a>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
