@import "../../scss/base.scss";

/********** PAGETITLE **********/
$pagetitle-content: "Отделения";
$pagetitle-height: 40%;
$pagetitle-color: #fff;
$pagetitle-background-color: $primary-color;
// $pagetitle-background-image: "/static/principles_app/img/ancap.svg";
$pagetitle-background-size: contain;
@import "../../scss/pagetitle";

/********** MENU LINKS **********/
@import "../../scss/topper_menu";

/********** DEPARTMENT SEARCH **********/
@import "department_search";

/********** MARGIN **********/
.departments-form, .departments{
    margin-bottom: 10rem;
    @include media-breakpoint-down(lg) {
        margin-bottom: 8rem;
    }
    @include media-breakpoint-down(md) {
        margin-bottom: 6rem;;
    }
    @include media-breakpoint-down(sm) {
        margin-bottom: 3rem;
    }
    @include media-breakpoint-down(xs) {
        margin-bottom: 2rem;
    }
}

/********** DEPARTMENTS **********/
.departments{
    column-count: 3;
    column-rule: 0.1rem solid $content-color5;
    column-gap: 6rem;
    text-align: center;
    @include media-breakpoint-down(md) {
        column-count: 2;
    }
    @include media-breakpoint-down(sm) {
        column-count: 1;
        text-align: left;
    }
}
.department{
    margin-bottom: 1rem;
    font-size: 1.8rem;
    display: block;
    color: $content-color4;
    &:hover{
        color: $content-color1;
    }
}
