@import "../../scss/base.scss";

/********** PAGETITLE **********/
$pagetitle-content: "Отделения";
$pagetitle-height: 40%;
$pagetitle-color: #fff;
$pagetitle-background-color: $primary-color;
// $pagetitle-background-image: "/static/principles_app/img/ancap.svg";
$pagetitle-background-size: contain;
@import "../../scss/pagetitle";

/********** PEOPLE CARDS **********/
@import "../../scss/cards";

/********** MARGIN **********/


/********** DEPARTMENT INFO **********/
.department-info{
    display: inline-block;
    vertical-align: top;
    width: 60rem;
    margin: 4rem;
}
