@import "../../scss/base.scss";
/********** PAGETITLE **********/
$pagetitle-content: "Платформа партии";
$pagetitle-height: 40%;
$pagetitle-color: #fff;
$pagetitle-background-color: $primary-color;
$pagetitle-background-image: "../img/pero.webp";
@import "../../scss/pagetitle";

/********** MENU LINKS **********/
@import "../../scss/topper_menu";

/********** OPINION LIST **********/
.opinion{
    margin: 4rem 0;
    @include media-breakpoint-down(md) {
        margin: 3rem 0;
    }
    @include media-breakpoint-down(sm) {
        margin: 2rem 0;
    }
}
.opinion-title{
    font-size: 3rem;
    color:$secondary-color;
    margin-bottom: 2rem;
    @include media-breakpoint-down(md) {
        font-size: 2.6rem;
        margin-bottom: 1.5rem;
    }
    @include media-breakpoint-down(sm) {
        font-size: 2.4rem;
        margin-bottom: 1rem;
    }
}
.opinion-content{
    font-size: 1.7rem;
    color: $content-color3;
    line-height: 1.6;
    @include media-breakpoint-down(xs) {
        font-size: 1.6rem;
    }
}

/********** BOTTOMNAV **********/
@import "../../scss/bottomnav";
.bottomnav{
    margin: 7rem 0 ;
    @include media-breakpoint-down(lg) {
        margin: 6rem 0;
    }
    @include media-breakpoint-down(md) {
        margin: 5rem 0;
    }
    @include media-breakpoint-down(sm) {
        margin: 4rem 0;
    }
    @include media-breakpoint-down(xs) {
        margin: 3rem 0;
    }
}
