@import "static/scss/base.scss";

/********** PAGETITLE **********/
$pagetitle-content: "Новости";
$pagetitle-height: 35%;
$pagetitle-color: #fff;
$pagetitle-background-color: $primary-color;
$pagetitle-background-image: "/static/news_app/img/newspaper.jpg";
@import "static/scss/pagetitle";

/********** POSTS **********/
@import "postcolumn";
