{% extends 'base.html' %}
{% load static %}
{% load sass_tags %}

{% block css %}
<!-- Custom css -->
<link rel="stylesheet" href="{% sass_src 'departments_app/scss/department_detail.scss' %}">
{% endblock %}

{% block head %}
<title>{{ department.region.name }} - Либертарианская Партия России</title>
{% endblock %}

{% block content %}

<!-- Pagetitle -->
{% include 'partials/pagetitle.html' %}

<section class="department">
    <div class="container">
        <div class="basic-card">
            <img class="basic-card-image" src="{% get_media_prefix %}{{department.logo}}">
            <div class="basic-card-body">
                <h2 class="basic-card-name">{{department.region.name}}</h2>
                <p class="basic-card-contacts">{{department.telegram_channel}}<br>{{department.vk_group}}</p>
            </div>
        </div>
        <div class="department-info">
            {{ department.info | safe }}
        </div>
    </div>
</section>

{% if department.contacts.all %}
<section class="department-personnel">
    <div class="container">
        <h1 class="text-center">Контакты:</h1>
        <div class="basic-card-container">
            {% for person in department.contacts.all %}
            <div class="basic-card person-card">
                <img class="person-card-image" src="{% get_media_prefix %}{{ person.photo }}">
                <div class="basic-card-body">
                    <h2 class="basic-card-name person-card-name">{{person.first_name}} {{person.second_name}}</h2>
                    <p class="basic-card-info">{{person.position}}<br>{{person.city.alternate_names}}<br>{{person.birth_date}}</p>
                    <p class="basic-card-contacts">Телеграм: {{person.public_telegram}}<br>Email: {{person.public_email}}<br>Телефон: {{person.public_phone_number}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}
{% endblock %}
