{% extends 'base.html' %}
{% load static %}
{% load sass_tags %}

{% block css %}
<!-- Custom css -->
<link rel="stylesheet" href="{% sass_src 'departments_app/scss/department_list.scss' %}">
{% endblock %}

{% block head %}
<title>Отделения - Либертарианская Партия России</title>
{% endblock %}

{% block content %}

<!-- Pagetitle -->
{% include 'partials/pagetitle.html' %}

<!-- Search -->
{% include 'departments_app/_department_search.html' %}
<div class="container">
    <div class="departments">
        {% for department in departments %}
        <a class="department" href="{{ department.get_absolute_url }}">{{ department.region.name }}</a>
        {% endfor %}
    </div>
</div>
{% endblock %}
