@import "../../scss/base.scss";

/********** PAGETITLE **********/
$pagetitle-content: "Новости";
$pagetitle-height: 40%;
$pagetitle-color: #fff;
$pagetitle-background-color: $primary-color;
$pagetitle-background-image: "../img/news.png" !default;
$pagetitle-background-size: contain;
$pagetitle-background-repeat: repeat;
@import "../../scss/pagetitle";

/********** POST LIST **********/
@import "postcolumn";

/********** PAGINATION **********/
@import "../../scss/pagination";
