body{
  padding-top: 82px;
  font-family: 'Open Sans', sans-serif;
}

/* NAVBAR */
.navbar-image{
  width: 70px;
  height: 70px;
}

.navbar{
  background-color: #fff;
  padding: 0 2%;

}
.navbar-text{
  color: #000;
  font-family: 'Merriweather', serif;
  font-weight: bold;
}

.nav-item {
  text-align: center;
  margin: auto;
}

.nav-link:hover{
  color: #ff5e3a;
  border-bottom: 2px solid #ff5e3a;
}

.nav-link{
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #000;
  border-bottom: 2px solid #fff;
}

.nav-link-cta:hover{
  color: #000;
  border: 2px solid #ff5e3a;
}

.nav-link-cta{
  color: blue;
  border: 2px solid #ffa793;
}

.cta-toggled{
  text-align: center;
}
.navbar-nav .nav-link{
  padding-left: 1rem;
  padding-right: 1rem;
}

.navbar-toggler:focus, .navbar-toggler:active{
   outline: none !important;
   box-shadow: none;
}

/* PAGETITLE */
.pagetitle {
    height: 100%;
}

.pagetitle-cover {
    height: 100%;
    width: auto;
	  background-repeat: no-repeat;
	  background-position: center;
    display: flex;
    background-size: cover;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 25px solid #fff;
}

.pagetitle-content-box h1{
    color: #fff;
    background-color: #ff5e3a;
    padding: 0.3rem;
}
.titlesmall{
  display: none;
}


/* FOOTER */
.btn-emailnewsletter{
  color: blue;
  border: 2px solid #ffa793;
  background-color: #fff;
}

.btn-emailnewsletter:hover{
  color: #000;
  border: 2px solid #ff5e3a;
}
.btn-emailnewsletter:focus,.btn-emailnewsletter:active {
   outline: none !important;
   box-shadow: none;
}


.social-media-icon{
  margin: 0 3px;
  color: rgba(0, 0, 0, 0.5);
}

.social-media-icon:hover{
  color: #ff5e3a;
}

.social-media-icon:visited {
  color: rgba(0, 0, 0, 0.5);
}


@media (max-width: 930px){
  .pagetitle-content-box h1{
    font-size: 2rem;
  }

}


@media (max-width: 768px) {
  body{
    padding-top: 72px;
  }
  .navbar-text{
    font-size: 0.85em;
  }
  .navbar-image{
    width: 60px;
    height: 60px;
  }
  .pagetitle-content-box{
    font-size: 1.2rem;
  }
  .titlebig{
    display: none;
  }
  .titlesmall{
    display: inherit;
  }
}


@media (max-width: 426px){
  .pagetitle-content-box h1{
    font-size: 1.53rem;
  }
  .pagetitle-cover {
    border: 15px solid #fff;
  }
}
