html{
  height: 100%;
}

body{
  height: 100%;
}

.pagetitle-cover {
    background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url("/static/home_app/img/guys.jpg");
}
