{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'news_app/css/news_app_base.css' %}">
<link rel="stylesheet" href="{% static 'news_app/css/post_list.css' %}">
<link rel="stylesheet" href="{% static 'news_app/css/post_detail.css' %}">
{% endblock %}

{% block content %}

<!-- {# TABLE #} -->
<div class="container mt-3">
  <div class="table-responsive">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">Дата создания</th>
          <th scope="col">Дата публикации</th>
          <th scope="col">Последнее обновление</th>
          <th scope="col">Статус</th>
          <th scope="col">Показывать обновление</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ post.createtime }}</td>
          <td>{{ post.publishtime }}</td>
          <td>{{ post.updatetime }}</td>
          <td>{{ post.status }}</td>
          <td>{{ post.updated }}</td>
          <td><a role="button" href="{% url 'news_app:update_post' post.pk %}" class="btn btn-warning">Изменить</a></td>
          <td><a role="button" href="{% url 'news_app:delete_post' post.pk %}" class="btn btn-danger">Удалить</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<!-- {# IN NEWS LIST #} -->
{% if post.image %}
<div class="post shadow-lg container mb-5 mt-sm-2">
  <a href="#" class="post-wrapper row p-lg-4 p-md-3 p-0">
    <div class="postimg-wrapper col-lg-5 ">
      <div class="postlistimg" style="background-image: url('{% get_media_prefix %}{{ post.image }}')"></div>
    </div>
    <div class="col-lg-7 mt-md-3 mt-ms-2 mt-1 px-2 px-sm-3 px-lg-4">
      <p class="posttitle h2">{{ post.title }}</p>
      <p class="postdescription h6">{{ post.description }}</p>
      {% if post.updated %}
      <p class="mt-3 mb-0 pb-0"><small class="text-muted">Обновлено {{ post.updatetime }} <span class="ml-3">{{ post.author.first_name }} {{ post.author.last_name }}</span></small></p>
      {% else %}
      <p class="mt-3 mb-0 pb-0"><small class="text-muted">{{ post.publishtime }} <span class="ml-3">{{ post.author.first_name }} {{ post.author.last_name }}</span></small></p>
      {% endif %}
    </div>
  </a>
</div>
{% else %}
<div class="post shadow-lg container mb-5 mt-sm-2 p-0">
  <a href="#" class="post-wrapper p-0 m-0">
    <div class="p-lg-5 p-md-4 p-sm-3 p-2">
      <p class="posttitle h2">{{ post.title }}</p>
      <p class="postdescription h6">{{ post.description }}</p>
      {% if post.updated %}
      <p class="mt-3 mb-0 pb-0"><small class="text-muted">Обновлено {{ post.updatetime }} <span class="ml-3">{{ post.author.first_name }} {{ post.author.last_name }}</span></small></p>
      {% else %}
      <p class="mt-3 mb-0 pb-0"><small class="text-muted">{{ post.publishtime }} <span class="ml-3">{{ post.author.first_name }} {{ post.author.last_name }}</span></small></p>
      {% endif %}
    </div>
  </a>
</div>
{% endif %}


<!-- {# DETAIL PAGE #} -->
<div class="post container my-3">
  <p class="posttitle h1">{{ post.title }}</p>
  <p class="postdescription h3">{{ post.description }}</p>
  {% if post.updated %}
  <p class="mt-3"><small class="text-muted">Обновлено {{ post.updatetime }} <a class="postauthor ml-3" href="#">{{ post.author.first_name }} {{ post.author.last_name }}</a></small></p>
  {% else %}
  <p class="mt-3"><small class="text-muted">{{ post.publishtime }} <a class="postauthor ml-3" href="#">{{ post.author.first_name }} {{ post.author.last_name }}</a></small></p>
  {% endif %}
  {% if post.image %}
  <div class="postimg mt-3" style="background-image: url('{% get_media_prefix %}{{ post.image }}')" alt="post image"></div>
  {% endif %}
  <div class="postbody mt-3">{{ post.body|safe }}</div>
</div>

{% endblock %}
