{% extends 'base.html' %}


{% block content %}

<div class="container text-center">
  <a role="button" class="btn btn-lg btn-primary m-5" href="{% url 'news_app:create_post' %}">
      Новый пост
  </a>
</div>
<div class="container">
  <div class="table-responsive">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">Заголовок</th>
          <th scope="col">Дата создания</th>
          <th scope="col">Дата публикации</th>
          <th scope="col">Последнее обновление</th>
          <th scope="col">Показывать обновление</th>
        </tr>
      </thead>
      <tbody>
    {% for post in current_user_posts %}
      <tr>
        <th scope="row">{{ post.title|truncatewords:5 }}</th>
        <td>{{ post.createtime }}</td>
        <td>{{ post.publishtime }}</td>
        <td>{{ post.updatetime }}</td>
        <td>{{ post.updated }}</td>
        {% if post.status == 'published' %}
        <td><a role="button" href="{{ post.get_absolute_url}}" class="btn btn-info btn-lg">На сайте</a></td>
        {% else %}
        <td><a role="button" href="{% url 'news_app:profile_post_preview' post.pk %}" class="btn btn-info btn-lg">Предпросмотр</a></td>
        {% endif %}
        <td><a role="button" href="{% url 'news_app:update_post' post.pk %}" class="btn btn-warning btn-lg">Изменить</a></td>
        <td><a role="button" href="{% url 'news_app:delete_post' post.pk %}" class="btn btn-danger btn-lg">Удалить</a></td>
      </tr>
    {% endfor %}
    </tbody>
    </table>
  </div>
</div>

<!-- Pagination -->
<div class="container">
    {% include 'partials/pagination.html' with page=page_obj %}
</div>

{% endblock %}
