{% extends "base.html" %}
{% load static %}

{% block head %}
<!-- Custom css -->
<link rel="stylesheet" href="{% static 'home_app/css/index.css' %}">
<title>Главная - Либертарианская Партия России</title>
{% endblock %}



{% block content %}

<section class='pagetitle'>
    <div class="pagetitle-cover">
        <div class="pagetitle-content-box">
            <h1 class="titlebig">минимум государства - максимум свободы.</h1>
            <h1 class="titlesmall">минимум государства - </h1><h1 class="titlesmall mt-2">максимум свободы.</h1>
        </div>
    </div>
</section>

<section class="plan">

</section>

{% endblock %}
