<!DOCTYPE html>
{% extends "base.html" %}

{% block head %}
<!-- Custom css -->
<link rel="stylesheet" href="/static/principles_app/css/principles_app_base.css">
<link rel="stylesheet" href="/static/principles_app/css/qa_list.css">
<title>Декларация о принципах - Либертарианская Партия России</title>
{% endblock %}


{% block content %}

<section class='pagetitle'>
  <div class="pagetitle-cover">
    <div class="pagetitle-content-box">
      <h1>Ответы на поплуярные вопросы</h1>
    </div>
  </div>
</section>



<section class="qa container mt-4 mt-sm-5">
  <div class="narrower">
    <h4>{{ lib_title }}</h4>
    {% for QA in lib %}
    <div class="mt-4">
      <p class="qa-question">{{ QA.question }}</p>
      <p class="qa-answer mt-0 pt-0">{{ QA.answer }}</p>
    </div>
    {% endfor %}
  </div>
</section>

<section class="qa container mt-4 mt-sm-5">
  <div class="narrower">
    <h4>{{ soc_title }}</h4>
    {% for QA in soc %}
    <div class="mt-3">
      <ul class="qa-question">
        <li>{{ QA.question }}</li>
      </ul>
      <ul class="qa-answer">
        <li>{{ QA.answer }}</li>
      </ul>
    </div>
    {% endfor %}
  </div>
</section>

<section class="qa container mt-4 mt-sm-5">
  <div class="narrower">
    <h4>{{ weapon_title }}</h4>
    {% for QA in weapon %}
    <div class="mt-3">
      <ul class="qa-question">
        <li>{{ QA.question }}</li>
      </ul>
      <ul class="qa-answer">
        <li>{{ QA.answer }}</li>
      </ul>
    </div>
    {% endfor %}
  </div>
</section>

<section class="qa container mt-4 mt-sm-5">
  <div class="narrower">
    <h4>{{ copyright_title }}</h4>
    {% for QA in copyright %}
    <div class="mt-3">
      <ul class="qa-question">
        <li>{{ QA.question }}</li>
      </ul>
      <ul class="qa-answer">
        <li>{{ QA.answer }}</li>
      </ul>
    </div>
    {% endfor %}
  </div>
</section>

<section class="qa container mt-4 mt-sm-5">
  <div class="narrower">
    <h4>{{ terms_title }}</h4>
    {% for QA in terms %}
    <div class="mt-3">
      <ul class="qa-question">
        <li>{{ QA.question }}</li>
      </ul>
      <ul class="qa-answer">
        <li>{{ QA.answer }}</li>
      </ul>
    </div>
    {% endfor %}
  </div>
</section>


<a href="{% url 'principles_app:platform' %}" class="navigationlinks">
  <div class="p-2 p-md-3 my-5 container shadow-lg">
    <h4 class="text-right">Предыдущее</h4>
    <h2 class="mt-3 text-right"><i class="arrow arrow-previous fas fa-arrow-left"></i>Платформа партии</h2>
  </div>
</a>
{% endblock %}
