<section class="topper">
    <div class="container">
        <div class="topper-menu">
            <a class="topper-menu-link" href="{% url 'principles_app:declaration' %}">Декларация о принципах</a>
            <a class="topper-menu-link" href="{% url 'principles_app:program' %}">Программа партии</a>
            <a class="topper-menu-link" href="{% url 'principles_app:platform' %}">Платформа партии</a>
            <a class="topper-menu-link" href="{% url 'principles_app:questions' %}">Ответы на популярные вопросы</a>
        </div>
    </div>
</section>
